.signin-Button{
    border: none;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.signup-button{
    border: none;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.signin-Button,.signup-button:hover{
    cursor: pointer;
}
#num-of-books{
    color: black;
}
#cart-icon{
    display: flex;
    align-items: baseline;
}