body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.super-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 90%;
}
.heading{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.question{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    align-items: left;
    font-size: large;
    padding: 10px;
    border: 1px solid aqua ;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    color: aqua;
    margin-bottom: 10px;
}
.question span{
    display: none;
    color: rgb(241, 236, 236);
    transition: all 0.3s ease;
}
